body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-shadow { 
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .1); 
}

small.green {
  color: green;
}

small.red {
  color: red;
} 

.post-title {
  font-weight: 600;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;

  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
    color: #494949 !important;

    &:hover { color: #1d2124!important; text-decoration: none; }
  }

  a {
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
}

.main-content {
  margin: 20px 0;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.add-post-form {
  small { 
    font-style: italic; 
    font-size: 12px;
  }
  label {
    font-weight: 500;
  }
} 

